body{
  background-color: #e8edf3;
font-family: 'Krub', sans-serif;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}

h3{
  font-weight:bold;
  color:#22264b;
}

a{
  margin: 20px;
  color: #b56969;

}

button{
  background-color: #9068be;
   margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .15s ease-in;

}
textarea {
    resize: vertical;
  padding: 8px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #bdc3c7;
  border-left: 0;
  transition: border-bottom-color .15s ease-in;
  border-bottom-color: #3fc1c9;
  
}

label {
  margin-bottom: 8px;
  border-bottom-color: #3fc1c9;
  display: block;
  color: #2b2e4a;
}

form {
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;
}
input{
  border: none;
  border-bottom: 5px; 
  text-align: center;
  border-bottom-color: #3fc1c9;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  outline: none;
}